In [1]:
import pandas as pd
import numpy as np

In [7]:
!ls

base				     merge_trends.ipynb
cleanup_weathers.ipynb		     models
dart_info_data.ipynb		     naver_trend_analysis.ipynb
data				     naver_trends_analysis.py
eight_percent_trends.csv	     README.md
get_bok_data.py			     readtxt.py
google_trend_analysis.ipynb	     scrapping_daum_trend.ipynb
handle_labor_datas.ipynb	     scrapping_unpay.ipynb
handle_nicedb_data.ipynb	     text_keywords.txt
history_to_status_time_series.ipynb  use_kor_gpt.ipynb
kor_summarize.py		     weather_api_use.ipynb

In [11]:
df_google = pd.read_csv('./data/google_trends.csv', index_col=0)
df_naver = pd.read_csv('./data/naver_trends.csv', index_col=0)

In [12]:
df_google.head()

,year,month,자동차,전자,침구류,청소,실내건축,조리,목재,재생산,...,무인감시카메라,김치,유리,학원,레미콘,필름제조,자동화기기,인삼,한국,korea
0,2014,1,52,52,0,7,0,1.729412,1.729412,0.0,...,0.0,18.447059,16.141176,39.776471,0.576471,0.0,0.0,2.305882,211.3125,116.3750
1,2014,2,47,42,0,8,0,1.729412,1.729412,0.0,...,0.0,15.564706,13.835294,42.658824,0.576471,0.0,0.0,2.305882,214.3750,122.5000
2,2014,3,54,48,0,8,0,2.305882,1.729412,0.0,...,0.0,19.023529,14.411765,35.741176,1.152941,0.0,0.0,1.729412,217.4375,128.6250
3,2014,4,48,47,0,7,0,2.305882,2.305882,0.0,...,0.0,23.635294,12.682353,30.552941,0.576471,0.0,0.0,2.305882,214.3750,143.9375
4,2014,5,48,46,0,9,0,1.729412,1.729412,0.0,...,0.0,23.635294,13.258824,32.858824,0.576471,0.0,0.0,2.305882,205.1875,134.7500

In [15]:
df_google1 = df_google[df_google['year'] > 2015].reset_index(drop=True, inplace=False)
df_google1.head()

,year,month,자동차,전자,침구류,청소,실내건축,조리,목재,재생산,...,무인감시카메라,김치,유리,학원,레미콘,필름제조,자동화기기,인삼,한국,korea
0,2016,1,45,39,0,7,0,1.729412,1.729412,0.0,...,0.0,14.411765,14.411765,37.470588,0.576471,0.0,0.0,1.729412,196.0000,119.4375
1,2016,2,46,38,0,7,0,1.729412,1.729412,0.0,...,0.0,12.682353,13.835294,36.317647,0.576471,0.0,0.0,2.305882,186.8125,122.5000
2,2016,3,55,42,0,7,0,1.729412,2.305882,0.0,...,0.0,14.988235,13.835294,31.129412,0.576471,0.0,0.0,1.729412,211.3125,134.7500
3,2016,4,48,37,0,7,0,1.729412,1.729412,0.0,...,0.0,17.294118,14.411765,28.823529,0.576471,0.0,0.0,1.729412,183.7500,140.8750
4,2016,5,47,36,0,9,0,2.305882,1.729412,0.0,...,0.0,17.294118,13.835294,25.364706,0.576471,0.0,0.0,1.729412,192.9375,131.6875

In [13]:
df_naver.head()

,year,month,자동차,전자,침구류,청소,실내건축,조리,목재,재생산,...,골프장,무인감시카메라,김치,유리,학원,레미콘,필름제조,자동화기기,인삼,한국
0,2016,1,62.05299,3.07307,0.94551,7.08272,0.75215,1.93882,5.78071,0.06846,...,2.33418,0.006463,27.475730,45.732864,6.375861,5.02547,0.00277,0.26182,7.33744,48.284439
1,2016,2,62.09925,2.59538,0.93102,5.05754,0.65717,1.71648,5.71687,0.05365,...,2.78535,0.070591,30.973769,38.215321,5.450428,4.12220,0.00524,0.29142,8.14418,31.454523
2,2016,3,64.40259,4.49751,0.93225,5.58642,0.85176,2.45969,7.22519,0.15326,...,3.70927,0.006463,29.128997,27.431639,7.467267,5.29500,0.00616,0.31517,6.94363,34.378957
3,2016,4,63.67819,4.52958,0.72717,5.98733,0.61646,3.20722,6.71111,0.22543,...,4.06299,0.135041,21.106286,28.454255,6.236480,5.49237,0.00431,0.27662,7.72694,31.981877
4,2016,5,68.65555,3.67967,1.23416,5.49113,0.65748,4.35781,6.51559,0.15758,...,4.35072,0.034533,27.792764,27.928127,7.574560,5.54356,0.00154,0.46504,7.45186,34.262698

In [16]:
df_naver1 = df_naver.drop(columns=['year', 'month'])
naver_columns = list(df_naver1.columns)
naver_columns

['자동차',
 '전자',
 '침구류',
 '청소',
 '실내건축',
 '조리',
 '목재',
 '재생산',
 '제조업',
 '유류',
 '임대업',
 '용접',
 '배전',
 '하수처리',
 '설비',
 '조경',
 '의류',
 '원단',
 '전선',
 '살균',
 '토목',
 '통신',
 '운송업',
 '공공사업',
 '소음방지',
 '기계',
 '수출',
 '수산물',
 '도매업',
 '화장',
 '방수',
 '전기',
 '건설업',
 '재활용',
 '창고',
 '프로그램',
 '도판',
 '철판',
 '염색',
 '가공',
 '서랍',
 '인쇄',
 '출판업',
 '식품',
 '동물',
 '포장',
 '설계용역',
 '도소매',
 '체육',
 '보관',
 '판매업',
 '철근콘크리트',
 '농축산물',
 '건물위생관리',
 '잡화류',
 '의료',
 '난방',
 '아스팔트',
 '인테리어',
 '엔지니어링',
 '음료',
 '무대조명',
 '항체치료제',
 '소방',
 '철구조물',
 '측정장비',
 '가구업',
 '방송업',
 '온라인',
 '휴대폰',
 '아동복',
 '조미김',
 '점토벽돌',
 '호텔숙박업',
 '신발',
 '폐쇄회로',
 '의약품',
 '파견업',
 '골프장',
 '무인감시카메라',
 '김치',
 '유리',
 '학원',
 '레미콘',
 '필름제조',
 '자동화기기',
 '인삼',
 '한국']

In [17]:
naver_columns1 = []
for col_name in naver_columns:
    naver_columns1.append('naver_' + col_name)
naver_columns1

['naver_자동차',
 'naver_전자',
 'naver_침구류',
 'naver_청소',
 'naver_실내건축',
 'naver_조리',
 'naver_목재',
 'naver_재생산',
 'naver_제조업',
 'naver_유류',
 'naver_임대업',
 'naver_용접',
 'naver_배전',
 'naver_하수처리',
 'naver_설비',
 'naver_조경',
 'naver_의류',
 'naver_원단',
 'naver_전선',
 'naver_살균',
 'naver_토목',
 'naver_통신',
 'naver_운송업',
 'naver_공공사업',
 'naver_소음방지',
 'naver_기계',
 'naver_수출',
 'naver_수산물',
 'naver_도매업',
 'naver_화장',
 'naver_방수',
 'naver_전기',
 'naver_건설업',
 'naver_재활용',
 'naver_창고',
 'naver_프로그램',
 'naver_도판',
 'naver_철판',
 'naver_염색',
 'naver_가공',
 'naver_서랍',
 'naver_인쇄',
 'naver_출판업',
 'naver_식품',
 'naver_동물',
 'naver_포장',
 'naver_설계용역',
 'naver_도소매',
 'naver_체육',
 'naver_보관',
 'naver_판매업',
 'naver_철근콘크리트',
 'naver_농축산물',
 'naver_건물위생관리',
 'naver_잡화류',
 'naver_의료',
 'naver_난방',
 'naver_아스팔트',
 'naver_인테리어',
 'naver_엔지니어링',
 'naver_음료',
 'naver_무대조명',
 'naver_항체치료제',
 'naver_소방',
 'naver_철구조물',
 'naver_측정장비',
 'naver_가구업',
 'naver_방송업',
 'naver_온라인',
 'naver_휴대폰',
 'naver_아동복',
 'naver_조미김',
 'naver_점토벽돌',
 'naver_호텔숙박업',
 'naver_신발',
 'naver_폐쇄회로',
 'naver_의약품',
 'naver_파견업',
 'naver_골프장',
 'naver_무인감시카메라',
 'naver_김치',
 'naver_유리',
 'naver_학원',
 'naver_레미콘',
 'naver_필름제조',
 'naver_자동화기기',
 'naver_인삼',
 'naver_한국']

In [18]:
df_naver1.columns = naver_columns1
df_naver1.head()

,naver_자동차,naver_전자,naver_침구류,naver_청소,naver_실내건축,naver_조리,naver_목재,naver_재생산,naver_제조업,naver_유류,...,naver_골프장,naver_무인감시카메라,naver_김치,naver_유리,naver_학원,naver_레미콘,naver_필름제조,naver_자동화기기,naver_인삼,naver_한국
0,62.05299,3.07307,0.94551,7.08272,0.75215,1.93882,5.78071,0.06846,2.13681,1.00904,...,2.33418,0.006463,27.475730,45.732864,6.375861,5.02547,0.00277,0.26182,7.33744,48.284439
1,62.09925,2.59538,0.93102,5.05754,0.65717,1.71648,5.71687,0.05365,1.71987,0.84189,...,2.78535,0.070591,30.973769,38.215321,5.450428,4.12220,0.00524,0.29142,8.14418,31.454523
2,64.40259,4.49751,0.93225,5.58642,0.85176,2.45969,7.22519,0.15326,2.36224,1.00780,...,3.70927,0.006463,29.128997,27.431639,7.467267,5.29500,0.00616,0.31517,6.94363,34.378957
3,63.67819,4.52958,0.72717,5.98733,0.61646,3.20722,6.71111,0.22543,2.31783,0.95075,...,4.06299,0.135041,21.106286,28.454255,6.236480,5.49237,0.00431,0.27662,7.72694,31.981877
4,68.65555,3.67967,1.23416,5.49113,0.65748,4.35781,6.51559,0.15758,2.37858,0.99886,...,4.35072,0.034533,27.792764,27.928127,7.574560,5.54356,0.00154,0.46504,7.45186,34.262698

In [19]:
total_trends = pd.concat([df_google1, df_naver1], axis=1)
total_trends.head()

,year,month,자동차,전자,침구류,청소,실내건축,조리,목재,재생산,...,naver_골프장,naver_무인감시카메라,naver_김치,naver_유리,naver_학원,naver_레미콘,naver_필름제조,naver_자동화기기,naver_인삼,naver_한국
0,2016,1,45,39,0,7,0,1.729412,1.729412,0.0,...,2.33418,0.006463,27.475730,45.732864,6.375861,5.02547,0.00277,0.26182,7.33744,48.284439
1,2016,2,46,38,0,7,0,1.729412,1.729412,0.0,...,2.78535,0.070591,30.973769,38.215321,5.450428,4.12220,0.00524,0.29142,8.14418,31.454523
2,2016,3,55,42,0,7,0,1.729412,2.305882,0.0,...,3.70927,0.006463,29.128997,27.431639,7.467267,5.29500,0.00616,0.31517,6.94363,34.378957
3,2016,4,48,37,0,7,0,1.729412,1.729412,0.0,...,4.06299,0.135041,21.106286,28.454255,6.236480,5.49237,0.00431,0.27662,7.72694,31.981877
4,2016,5,47,36,0,9,0,2.305882,1.729412,0.0,...,4.35072,0.034533,27.792764,27.928127,7.574560,5.54356,0.00154,0.46504,7.45186,34.262698

In [22]:
len(df_naver1)

83

In [21]:
len(df_google1)

83

In [23]:
total_trends.to_csv('./data/total_trends.csv')